{% extends "::base.html.twig" %} 
	{% block head %}
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	{% endblock %} 
	{% block body %}
		<div class="text-center">
			<img src="../img/logo_big.png" alt="">
			
		</div>
<div class="offset-2 col-8">
<h3>Ajouter ligne frais forfait</h3>
<div class ="form-control">
		{{ form_start(form) }}
					{{ form_errors(form) }}


					<div>
					
					{{ form_label(form.fichefrais) }}
					{{ form_widget(form.fichefrais) }}
<br>
					{{ form_label(form.mois) }}
					{{ form_widget(form.mois,{ 'attr': {'placeholder': 'mmyyyy'} }) }}
	<br>				
					{{ form_label(form.quantite) }}
					{{ form_widget(form.quantite) }}
<br>
					{{ form_label(form.fraisforfait) }}
					{{ form_widget(form.fraisforfait) }}
					
<br>
					</div>

					<div class='btn'>
					{{ form_label(form.Annuler) }}
					{{ form_widget(form.Annuler) }}
					</div>

					<div class='btn'>
					{{ form_label(form.Enregistrer) }}
					{{ form_widget(form.Enregistrer) }}
					</div>

				{{ form_end(form) }}
</div>
</div>
	{% endblock %}
